.monthStack{
  display:none;
}



.padding20{
    padding: 10px;
}

.marginBottom10{
    margin-bottom: 10px;
}

.splash {
  /*float: left;*/
  }

.splash img {
  background:#f0f0f0;
  display:block;
  /*width: 100%;*/
  /*height: 110px;*/
/*  max-height: 260px;*/
  /*cursor: pointer;*/
  }

.splashLanding img {
  background:#f0f0f0;
  margin:0 auto;
  display:block;
  /*max-width:100%;*/
  max-width: 630px;
  }
.date {
  color:#5e5e5e;
  font-weight:normal;
  /*max-width: 90px;*/
  /*background-color:#759da7;*/
  /*text-align: center;*/
  line-height: 22px;
  /*float:left;*/
  margin-bottom: 3px;
  margin-top: 7px;
}

.tagDate {
  color:#fff;
  font-weight:normal;
  max-width: 90px;
  height: 23px;
  background-color:#759da7;
  text-align: center;
  line-height: 22px;
}

.textContainer{
  float:left;
  margin-left:10px;
  width: 500px;
}

.summeryText {
  color:#5e5e5e;
  font-weight:normal;
  /*padding: 10px 0 10px;*/
  float:left;
  }

.article{
  margin-bottom:50px;
  width: 670px;
  float: left;
  padding: 20px;
}


.video-wrapper {
  /*height:110px;*/
  width: 100%;
  float: left;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.logo{
  float:left;
  padding: 10px 0;
  width: 150px;
}

.latestNews{
  float: left;
}

.logoWrapper{
  width:100%;
  /*background-color:#f8f8f8;*/
}

.listing .item {
  display:block;
  padding:2px 0;
/*  border-top:1px solid #d4d7d9;*/
  font-size: 20px;
  /*font-family:Futura Condensed Bold;
  font-weight: 600;*/
  }

.listing .month {
  color:#868f93;
  margin-top:20px;

}

.month{
  /*cursor: pointer;*/
}

.active{
  font-size:20px;
  color: red;
}


.fa {
  padding: 5px 0 5px;

}

.dark{
    color: #000000;
}

.footerHeight{
  height:50px;
}

.footerText{
  line-height: 50px;
}

.paginationCenter{
  width: 100%;
  padding-top: 40px;
}
.pgCenter{
  margin: 0 auto;
  width: 75%;
}

#searchGlass{
  position: absolute;
  left: 175px;
  font-size: 20px;
  top: 31px;
}

input[type=text], textarea {
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 0px solid #DDDDDD;
  background-color: #f8f8f8;
}

#archiveNav input[type=text], textarea {
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 0px solid #DDDDDD;
    background-color: #fff;

}

.menuItems li{
  float: left;
  margin-left: 5px;
}

.momthlyArchivedTitle{
  font-size:24px;
}

#iconBar{
  font-size:30px;

}

#archiveNav{
  display: none;
}
@media screen and (max-width: 768px) {

  #archiveNav{
    display: block;
  }



}

#archiveMain{
  display: block;
}
@media screen and (max-width: 768px) {

  #archiveMain{
    display: none;
  }

/*  .logo {
    float: left;
    padding: 10px 0;
    width: 60%;
    }*/


}

.archivetags{
  width: 95px;
  float:left;
}

#repolist_chosen{
  display:none;
}

@media screen and (max-width: 400px) {

/*  .logo {
    float: left;
    padding: 10px 0;
    width: 80%;
    }*/

}

.socialIcon{
  font-size: 26px;
}

.backtotop{
  margin-bottom: 30px;
  margin-top:20px;
}

.byContainer{
  padding: 0px 5px;
}
.memberThumbnail{
  margin-top:-5px;
}

.dateText{
  /*padding: 5px;*/
  margin-bottom: 5px;
  line-height: 11px;
  font-size: 12px;
  /*float:left;*/
}

.blogContainer{
  width: 940px;
  margin: auto;
}

.blog-title{

  font-size: 20px;
  color: #999793;
/* float: left; */

}



.individualShare{
  /*margin-left: 10px;*/
  font-size: 10px;
  color:#fff;
  float: left;
  background-color: #bbbbba;
  padding: 2px 5px 2px 5px;
  margin-right: 5px;
  border: #ccc 1px solid;
  cursor: pointer;
}

.individualShare .fa{
  display: inline;
}

.individualShareActive{
  
  background-color: #f05a30;
  border: #f05a30 1px solid;

}

.tweetShare{
  /*margin-left: 10px;*/
  font-size: 12px;
  color:#fff;
  float: left;
  background-color: #4099FF;
  padding: 2px 5px 2px 5px;
  margin-right: 5px;
  border: #ccc 1px solid;
}

.tweetShare a{
  /*margin-left: 10px;*/
  font-size: 10px;
  color:#fff;
  /*float: left;
  background-color: #bbbbba;
  padding: 2px 5px 2px 5px;
  margin-right: 5px;
  border: #ccc 1px solid;*/
}

.tweetShare .fa{
  display: inline;

  }



.blog-titleWhite{

  color: #fff;
  
}

.activepage{
  background-color: #f05a30;
  padding: 4px 16px;
  color: #fff;
}

.blog-main{
  padding-bottom: 186px;
}

#seeMoreBlogs{
  float: right;
  margin-right: 15px;
  margin-bottom: 15px;

}

.itemTitle{
  font-size: 22px;
    color: #000000;
  line-height: 1.3;
    font-weight: bold;

}

.sidebar-module{
  float: right;
  width: 240px;
}

.contentIndividualBlog{
  float: left;
margin-top: 10px;
display: inline-block;
width: 100%;
    color:#5e5e5e;
}

.contentIndividualBlog h2{
  font-size: 14px;
}

.contentIndividualBlog p{
  font-size: 14px;
}
#sharingContainer{
  margin-top: 10px;

  width: 30%;
}

#custom-tweet-button{
  float: left;
  margin-right: 5px;
}

/*#custom-tweet-button .fa{
  display: inline;
}*/

/*#custom-tweet-button a {
  
  padding: 9px 5px 2px 5px;
  background: #4099FF;
  border: 1px solid #ccc;
  color: #fff;
  font-size: 12px;
}*/

.event{
  
  width: 270px;
  float: left;
  
  margin-top: 10px;
  border-bottom: #E0E0E0 solid 1px;
}

.eventdate{
  /*width: 80px;*/
  /*height: 100px;*/
  /*float: left;*/
  color: #4b4b4b;
  /*margin-bottom: 5px;*/
}
.eventmonth{
  max-width: 140px;
  text-align: center;
  font-size: 14px

}
.eventday{
  /*max-width: 140px;*/

  font-size: 14px;
  color: #7d7d7d;
  /*border-bottom: #e8e8e8 1px solid;*/
  /*background: #e8e8e8;*/
  /*padding: 5px;*/
  }

.eventtextContainer {
float: right;
}

.eventItemTitle {
font-size: 12px;
cursor: pointer;
}

.eventLocation {
color: gray;
font-weight: normal;
/* max-width: 90px; */
height: 13px;
/* background-color: #759da7; */
/* text-align: center; */
line-height: 22px;
/* float: left; */
margin-bottom: 10px;
}

.eventTitlePost{
font-size: 18px;
line-height: 1.3;
color:#3a3a3a;
font-weight: 600;
}

.printing{
float: right;
/* top: 19px; */
margin-top: -24px;
}

.mapContainer{
  height: 21px;
  overflow: hidden;
  color:#f05a30;
  cursor: pointer;
}

.expandMap{

    height: 100px;
    transition: height 0.25s ease-in;
}

.collapseMap{

    height: 21px;
    transition: height 0.25s ease-in;
}

/*.sidePanel {*/
    /* height: 582px; */
    /*width: 280px;*/
    /*background: #f1f1f0;*/
    /*float: left;*/
    /* overflow: auto; */
    /*padding: 15px 0 0 0;*/
    /* margin: 20px; */
    /* margin-top: 35px; */
    /*font-size: 12px;*/
/*}*/

.feedContainer{
    background: #fff;
    width: 1024px;
    margin: 0 auto;
    line-height: 1.6;
}

.blogFeed{
    width: 710px;
    /*background: #fff;*/
    position: relative;
    float: left;
    padding: 15px;
}

.eventFeed{
    max-height: 524px;
    width: 270px;
    background: #f1f1f0;
    float: left;
    overflow: auto;
    /*padding: 0px 15px 0px 15px;*/
    /*margin: 20px;*/
    /*margin-top: 20px;*/

}

.eventTitleContainer{
    width: 300px;
    float: left;
    padding: 10px 15px 0px 15px;
    background: #f1f1f0;
    margin-top: 10px;
}

.grayBackground{
    background: #f1f1f0;
}

.whiteBackground{
    background: #fff;
}

.sidePanel {
    /* height: 582px; */
    width: 280px;
    background: #f1f1f0;
    float: left;
    /* overflow: auto; */
    padding: 15px;
    /*margin: 20px;*/
    /*margin-top: 35px;*/
    font-size: 12px;

}

.sidePanel h4 {
    font-size: 14px;
    color: #999793;
}

.sidePanel h3 {
    font-size: 16px;
    color: #999793;
    margin-top: 5px;
}

.noBorderBottom{
    border-bottom: 0px;
}

.postsContainer{
    padding-bottom: 100px;
    /*min-height: 710px;*/
    /*overflow: auto;*/
}

.signNewLettersLink{
    /*float: right;*/
    margin-top: 20px;
    margin-right: 5px;
    text-decoration: none;
    background-color: #f05a30;
    padding: 10px;
}

.signNewLettersLink a {
    color:#fff;
    font-size: 10px;
}

.seeBlogEntries{

    /*margin-top:20px;
    margin-left:5px;*/

}

.articleTag{

    margin-bottom: 15px;
    width: 660px;
    float: left;
    /*height: 109px;*/
    margin-left: 15px;
    margin-top: 5px;
    border-bottom: #e8e8e8 1px solid;

}



#disqus_thread #footer{
    display: none !important;
}

#disqus_thread{
    position: relative;
}
#disqus_thread:after{
    content: "";
    display: block;
    height: 55px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background:white;
}

.col-sm-10 {
    width: 70.333333%;
}

.feedevent{

    width: 650px;
    float: left;

    margin-top: 5px;
    margin-left: 15px;
    margin-bottom: 15px;
    border-bottom: #E0E0E0 solid 1px;

}

.feedeventdate{
    width: 150px;
    /*height: 100px;*/
    float: left;
    color: #4b4b4b;
}
.feedeventmonth{
    max-width: 140px;
    text-align: center;
    font-size: 14px

}
.feedeventday{
    max-width: 140px;
    text-align: center;
    font-size: 12px;
    color: #7d7d7d;
    margin-top: 4px;
    text-align: center;
}

.feedeventtextContainer {
    float: right;
}

.feedeventItemTitle {
    font-size: 14px;
    cursor: pointer;
}

.feedeventLocation {
    color: gray;
    font-weight: normal;
    /* max-width: 90px; */
    height: 13px;
    /* background-color: #759da7; */
    /* text-align: center; */
    line-height: 22px;
    /* float: left; */
    margin-bottom: 10px;
}

.feedcol-sm-10 {
    width: 76%;
}

.campaign{
    margin-bottom: 8px;
    line-height: 16px;
    width: 250px;
}

.btn-default {
    color: #999793;
    background-color: #fff;
    border-color: #ccc;

}

.buttonActive{
    color: #fff;
    background-color: #888888;
    border-color: #888888;
}

.floatleft{
    float: left;
}

.floatright{
    float: right;
}

.eventTitle{
    font-size: 18px;
    line-height: 1.3;
    color:#3a3a3a;
}

.overflowAuto{
    overflow: auto;
}

.infoContainer{
    font-size: 14px;
}
.infoItem{
    color:#3a3a3a;
    font-size: 12px;
    margin-top: 10px;
}
.itemFile{


}

.eventSidePanel{
    position: absolute;
    right: -265px;
    /*top: 97px;*/
    /* height: 582px; */
    width: 280px;
    background: #f1f1f0;
    float: left;
    /* overflow: auto; */
    padding: 15px;
    /* margin: 20px; */
    /*margin-top: 35px;*/
    font-size: 12px;
}

.sidePanel {
    /* height: 582px; */
    width: 280px;
    background: #f1f1f0;
    float: left;
    /* overflow: auto; */
    padding: 15px 0 0 0;
    /*margin: 20px;*/
    /*margin-top: 35px;*/
    font-size: 12px;

}

.blog-header{
    padding-left: 15px;
}

.blog-title{

    font-size: 20px;
    color:#303030;

    margin-top: 10px;

}

.events-title{
    font-size: 14px;
    color:#000000;
    float: left;

}

.seeMore{
    font-size: 12px;
    float: right;
    text-decoration: underline;
}

.sidePanelTitle {
    font-size: 14px;
    color: #5e5e5e;
    cursor: pointer;
}

.display_publications{
    overflow: auto;
}

.fb-share-left {
  float: left;
}

#panel-body{
    cursor: pointer;
}

.panel{
    width: 630px;
}
