.logoText {
	cursor: pointer;
	margin-left: 12px;
	font-size: 15px;
	float: left;
	text-transform: uppercase;
}

.headerTextButtons {
	padding: 0 18px;
	float: right;
}

.headerTextButton {
	float: left;
	font-size: 12px;
	cursor: pointer;
	margin-right: 18px;
	text-transform: uppercase;
}

.headerTextButtonSelected,.headerTextButton:hover {
	color: #ec5541 !important;
}

.headerFooterTextStyle {
	color:#fff;
}
