.spatialSelectorWrapper {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
}

.spatialSelectorMenu {
	width: 500px;
	margin: 0 auto;
	margin-top: 100px;
	background: #f7f5f6;	
	padding:40px;
	position:relative;
}

.spatialSelectorTitle {
	width: 90%;
	margin: 0 auto;
	overflow-wrap: break-word;
	margin-bottom: 12px;
	font-size: 16px;
}

.spatialSelectorDropDownContainer {
	width: 90%;
	margin: 0 auto;	
}

.spatialSelectorDropDownContainer .dropDownContainer {
	height:46px !important;
}

.spatialSelectorDropDownContainer .dropDownContainer,
.spatialSelectorDropDownContainer .dropDownList {
	border:1px solid #ebebeb;
}

.spatialSelectorDropDownContainer .dropDownItem {
	font-size: 21px !important;
	line-height: 46px !important;
	font-weight: bold;
}

.spatialSelectorDropDownContainer .dropDownButtonArrow {
	top: 75%;
	right:12px;
}

.spatialSelectorCloseButton {
	position: absolute;
	top: 16px;
	right: 10px;
	cursor: pointer;
	font-size: 23px;
	color: #7b7b7b;
}


#header {
	background:#303030;
	z-index:5 !important;
	line-height:34px;
	font-size:18px;
	font-weight:400;
	height:34px;
}

.logoText {
	cursor: pointer;
	margin-left: 12px;
	font-size: 15px;
	float: left;
	text-transform: uppercase;
}

.headerTextButtons {
	padding: 0 18px;
	float: right;
}

.headerTextButton {
	float: left;
	font-size: 12px;
	cursor: pointer;
	margin-right: 18px;
	text-transform: uppercase;
}

.headerTextButton, .logoText {
	text-decoration: none;
}

.headerTextButtonSelected,.headerTextButton:hover {
	color: #ec5541 !important;
}

.headerFooterTextStyle {
	color:#fff;
}

#footer {
	height:34px;
	line-height: 34px;
	background:#303030;
	z-index:5 !important;
}

.socialMediaLinksContainer {
	float:left;
	width:200px;
	margin-left:16px;
}

.socialMediaLink {
	margin-right: 6px;
	cursor: pointer;
	margin-top: 6px;
	float: left;
	font-size: 22px;
	color: #fff;
}

.toggleLanguageContainer {
	float:right;
	background:#171717;
	height:34px;
	padding:0 8px;
}

.langButtonBorder {
	float: left;
	font-size: 10px;
	color: #fff;
	width: 7px;
	height: 10px;
	background-color: transparent;
	margin-left: 4px;
	margin-right: 4px;
}

.langButton {
	color:#fff;
	font-size:12px;
	float:left;
	margin-right:4px;
	cursor:pointer;
}

.langButtonSelected, .langButton:hover  {
	color:#ec5541 !important;
}


.goToSpatialButton {
	color: #fff;
	text-decoration: underline;
	float: left;
	font-size: 12px;
	cursor: pointer;
	background:#171717;
	margin-right:24px;
}

.dropDownContainer {
	width:100%;
	background:#fff;
	border:1px solid #000;
}

.dropDownLabel {
	width:80%;
	float:left;
}

.dropDownItem {
	padding:0 4px;
	font-size:12px;
	color:#000;
	cursor:pointer;
}

.dropDownList .dropDownItem:hover {
	background:#e6e6e6;
}

.dropDownLabelItems, .dropDownContainer, .dropDownButton {
	height:30px;
	line-height:30px;
}

.dropDownList {
	height:0;
	display:none;
	position: relative;
	width: 100%;
	top: 0px;
	border: 1px solid #000;
	left: -1px;
	max-height:180px;
	overflow-y:auto;
	overflow-x: hidden;
	background: #fff;
	z-index: 5;
}

.dropDownButton {
	width:14px;
	float:right;
	cursor:pointer;
}

.dropDownButtonArrow {
	display: block;
	content: '';
	width: 0;
	height: 0;
	position: relative;
	right: 4px;
	border-left: 6px solid transparent;
	border-top: 6px solid #000;
	border-right: 6px solid transparent;
	top: 44%;
}

.rotate180Deg {
	transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}

.overflowEllipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}