---
layout: feed
section: blog
---

<div class='blogContainer clearfix'>
  <div class="blog-header">
          <div class="blog-title">Blog</div>
        </div>
  {% for item in site.categories.blog limit:4 %}
    {% capture date %}{{ item.date | date: '%B %Y' }}{% endcapture %}
    {% capture ndate %}{{ item.next.date | date: '%B %Y' }}{% endcapture %}


    <div id="{{item.title}}" class="article clearfix">

{% if item.category == 'blog' %}

    {% if item.splash or item.youtube_url %}

      {% if item.youtube_url %}
      {% capture youtubeurl %}{{item.youtube_url}}{% endcapture %}
      <div class="video-wrapper">
        <div class="youtubeThumbnail">
          <img width="100%" src='http://img.youtube.com/vi/{{youtubeurl}}/hqdefault.jpg' alt='' />
          <i class="fa fa-play iconPlay"></i>
        </div>
      </div>
      {% endif %}

      {% if item.splash %}
      {% if item.splash contains 'http' %}
      {% capture url %}{{item.splash}}{% endcapture %}
      {% else %}
      {% capture url %}{{site.baseurl}}{{item.splash}}/{% endcapture %}
      {% endif %}

      <div class='splash' id="{{ item.title | replace: ' ', '_' }}" href='{{site.baseurl}}{{item.url}}'>
        <img width="100%" src='{{url}}' alt='' />
      </div>
      {% endif %}

      {% else %}
            <div class='splash' id="{{ item.title | replace: ' ', '_' }}" href='{{site.baseurl}}{{item.url}}'>
              
                <img width="100%" src='{{site.baseurl}}/img/IFPRI.png' alt='' />
              </a>
            </div>
      {% endif %}



      <div class="textContainer col-sm-10">
        <!-- <a class='item'>{{item.title}}</a>   -->
        {% if item.content %}
        <div class="entryTitle"><a id="{{ item.title | replace: ' ', '_' }}" class='itemTitle'>{{item.title}}</a></div>
        <div class='date'>
          <div class="dateText">{{item.date | date:"%B %d"}}   &#8226;</div>
          {% if item.author %}
          <div class="dateText" >&nbsp;Author: {{ item.author }}</div>
          {% endif %}
        </div>
        
        <div class="summeryText" >{{ item.header}}</div>
        {% endif %}
      </div>

{% else %}

  <div class="eventdate">
      <div class="eventmonth">{{item.date | date:"%B"}}</div>
      <div class="eventday">{{item.date | date:"%e"}}</div>
      <div class="eventmonth">EVENT</div>
  </div>
  <div class="textContainer col-sm-10">
        <!-- <a class='item'>{{item.title}}</a>   -->
        {% if item.header %}
        <div class="entryTitle"><a id="{{ item.title | replace: ' ', '_' }}" class='itemTitle'>{{item.title }}</a></div>
        <div class='date'>
          
          {% if item.author %}
            <div class="dateText" >&nbsp;Author: {{ item.author }}</div>
          {% endif %}
        </div>
        <div class="summeryText" >{{ item.header}}</div>
        {% endif %}
        </div>

  {% endif %}

    </div>
    {% endfor %}

  </div>