.feedContainer{
  background: #fff;
  width: 1024px;
  margin: 0 auto;
}

.blogFeed{
width: 684px;
/*background: #fff;*/
position: relative;
float: left;
padding: 15px;
}

.eventFeed{
  height: 680px;
  width: 300px;
  background: #f1f1f0;
  float: left;
  overflow: auto;
  padding: 15px;
  margin: 20px;

}

.grayBackground{
  background: #f1f1f0;
}

.whiteBackground{
  background: #fff;
}

.sidePanel {
/* height: 582px; */
width: 324px;
background: #f1f1f0;
float: left;
/* overflow: auto; */
padding: 15px;
/*margin: 20px;*/
margin-top: 40px;

}

.noBorderBottom{
  border-bottom: 0px;
}