.feedContainer{
  background: #fff;
  width: 1024px;
  margin: 0 auto;
}

.blogFeed{
width: 710px;
/*background: #fff;*/
position: relative;
float: left;
padding: 15px;
}

.eventFeed{
  height: 524px;
  width: 300px;
  background: #f1f1f0;
  float: left;
  overflow: auto;
  padding: 15px;
  /*margin: 20px;*/
  margin-top: 20px;

}

.grayBackground{
  background: #f1f1f0;
}

.whiteBackground{
  background: #fff;
}

.sidePanel {
/* height: 582px; */
width: 280px;
background: #f1f1f0;
float: left;
/* overflow: auto; */
padding: 15px;
/*margin: 20px;*/
margin-top: 40px;

}

.sidePanel h4 {
  font-family: FiraSansOT-Regular;
  font-size: 16px;
  color: #999793;
}

.sidePanel h3 {
  font-size: 16px;
  color: #999793;
  margin-top: 5px;
}

.noBorderBottom{
  border-bottom: 0px;
}

.postsContainer{
 padding-bottom: 100px;
}