<!--   <div class='col4 margin3 pad4'> -->
<div class="archiveContainer clearfix whiteBackground padding20 marginBottom10">
    <div class="sidePanelTitle"><i class="fa fa-archive"></i>   ARCHIVES</div>
                    <!-- {% for post in site.categories.blog %}
                      {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
                      {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}
                      
                        {% if month != nmonth %}

                          {% if forloop.index != 1 %}</ul>{% endif %}
                        
                          <h3 class="sub-header">{{ post.date | date: '%B %Y' }}</h3>
                        {% endif %}
                      <div><span class="time"></span>{{ post.date | date: "%m/%d/%Y" }} - <a href="{{site.baseurl}}{{ post.url }}">{{ post.title}}  </a></div>
                    {% endfor %} -->


                   {% for post in site.posts %}
                      {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
                      {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}

                          {% if month != nmonth %}
                              {% if forloop.index != 1 %}</ul>{% endif %}
                              <a href="{{site.baseurl}}/{{ post.date | date: '%Y/%m' }}"><div id="{{ post.date | date: '%Y/%m' }}" class="archiveMonth">{{ post.date | date: '%B %Y' }}</div></a><ul id="{{ post.date | date: '%B %Y' }}" class="monthStack">
                              {% endif %}
                          <div ><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></div><span>{{ post.date | date: "%e %B" }}</span>

                      {% endfor %}
                    
</div>
                    
<!--   </div> -->
