<!--   <div class='col4 margin3 pad4'> -->
  

      
                    

    {% for item in site.categories.event limit:100 %}
    {% capture date %}{{ item.date | date: '%B %Y' }}{% endcapture %}
    {% capture ndate %}{{ item.next.date | date: '%B %Y' }}{% endcapture %}


    <div id="{{item.title}}" class="event clearfix" >



  <div class="eventdate">
      <!-- <div class="eventmonth">{{item.eventdate}}</div> -->
      <div class="eventday">{{item.eventdate}}</div>
  </div>
  <div class="eventtextContainer col-sm-10">
        <!-- <a class='item'>{{item.title}}</a>   -->
        {% if item.header %}
        <div class="entryTitle"><a title="{{ item.title }}" class='eventItemTitle eventClickable' >{{item.title }}</a></div>
        <div class='eventLocation'>
          
          {% if item.location %}
            <div class="dateText" >Where: {{ item.location }}</div>
          {% endif %}
        </div>
        <!-- <div class="summeryText" >{{ item.header}}</div> -->
        {% endif %}
        </div>


    </div>
    {% endfor %}

  <!-- /.blog-sidebar -->
