<div class="eventSidePanel">

<div id="additionalContainer">
    <div></div>
    <div class="infoContainer">Additional Info:

      <div class="infoItem">Media materials:
        <div class="itemFile">
          <a href=""><i class="fa fa-file-pdf-o"></i>Downlaod Agenda</a>
        </div>
      </div>

      <div class="infoItem">Powerpoints:
        <div class="itemFile">
          <a href=""><i class="fa fa-file-powerpoint-o"></i>Name of PDF</a>
        </div>
      </div>

    </div>
</div>

</div>