<!--   <div class='col4 margin3 pad4'> -->
    <h4><i class="fa fa-folder"></i>   MENA NEWSLETTER</h4>
                    <style type="text/css">
                      <!--
                      .display_archive {}
                      .campaign {}
                      //-->
                      </style>
                      <script language="javascript" src="http://us5.campaign-archive2.com/generate-js/?u=ee4188fb4a3f47c4e45bee1cc&fid=6473&show=10" type="text/javascript">
                      </script>

<div class="signNewLettersLink" style=""><a href="http://eepurl.com/XUr3v" target="_blank">Sign up to our newsletter ></a></div>
<!--   </div> -->
