<!--   <div class='col4 margin3 pad4'> -->
    <h4><i class="fa fa-folder"></i>   MENA NEWSLETTER</h4>
                    <style type="text/css">
                      <!--
                      .display_archive {}
                      .campaign {}
                      .orale {}
                      .chale {}
                      //-->
                      </style>
                      <script language="javascript" src="http://us5.campaign-archive2.com/generate-js/?u=ee4188fb4a3f47c4e45bee1cc&fid=6473&show=3" type="text/javascript">
                      </script>

                      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    				  <script src="http://code.jquery.com/jquery-1.9.0.js"></script>

                      <script type="text/javascript">

                      $(window).ready(function() {

	                     });

                      </script>

<div class="signNewLettersLink" style=""><a href="http://eepurl.com/XUr3v" target="_blank">Sign up to our newsletter ></a></div>
<!--   </div> -->
