<!-- <div class="paginationCenter">
    <p class="pgCenter">{% if page.previous.url %} <a href="{{site.baseurl}}{{page.previous.url}}" title="Previous Post: {{page.previous.title}}"><i class="fa fa-chevron-left" style="float:left;">      Previous Post</i></i></a>
      {% endif %}   

    {% if page.next.url %}
    <a href="{{site.baseurl}}{{page.next.url}}" title="Next Post: {{page.next.title}}" style="float:right;">Next Post      <i class="fa fa-chevron-right"></i></i></a>  {% endif %} </p>
  </div> -->


<ul class="pager">
  <li class="previous">{% if page.previous.url %} <a href="{{site.baseurl}}{{page.previous.url}}">&larr; Older</a></li>
  {% endif %} 
  {% if page.next.url %}
  <li class="next"><a href="{{site.baseurl}}{{page.next.url}}">Newer &rarr;</a></li>
  {% endif %}
</ul>
