<!--   <div class='col4 margin3 pad4'> -->
    <h4><i class="fa fa-folder"></i>   MENA PUPBLICATIONS</h4>
    <div class="display_archive"> 


    </div>


                      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    				          <script src="http://code.jquery.com/jquery-1.9.0.js"></script>

                      <script type="text/javascript">

                      $(window).ready(function() {

                        var url = 'http://50.62.145.200/proxy.ashx?https://server15738.contentdm.oclc.org/dmwebservices/index.php?q=dmQuery/p15738coll2/subjec%5earab%20countries%5eall%5eor!subjec%5emiddle%20east%5eall%5eand/title!subtit!date!creato!langua!subjec!loc!url/date!reverse/500/1/1/0/0/0/json';



                        var postArgs = {};


                          $.getJSON(url, postArgs).done(function (data) {

                              console.log(data);

                              var publications = data.records;

                              $.each(publications, function (key, data) {
                                  //console.log(key)
                                  $.each(data, function (index, data) {
                                      console.log('index', data);
                                      trendsPanel.append("<div class='campaign'>No " + data.title + "</div>");


                                  })
                              })





                          }).fail(function (jqxhr, textStatus, error) {
                              var err = textStatus + ', ' + error;
                              console.log("Request Failed: " + err);
                          });

	                     });

                      </script>

<!--   </div> -->
