<div id="sharingContainer">
    <!-- <button onclick="copyText()">share link</button> -->
      <div class="individualShare" id='{{page.title}}' onclick="copyText()">

        Share Link
      </div>
      
      <a href="https://twitter.com/share" class="twitter-share-button" url="{{site.baseurl}}/{{page.url}}?redirect=1" data-count="none" target="_blank"></a>

      <!-- test -->


      <!-- <div id="custom-tweet-button">
        <a href="https://twitter.com/share?url={{site.baseurl}}{{page.url}}?redirect=1" target="_blank">Tweet</a>
      </div> -->

      <!-- test -->

    
      <!-- <div class="g-plus" data-action="share" data-annotation="none"></div> -->
  
      <div class="fb-share-button" data-href="{{site.baseurl}}/{{page.url}}?redirect=1" data-type="button"></div>

      <div class="panel panel-default">
        
        <div id="panel-body" class="panel-body">
          
        </div>
      </div>
    </div>