<div id="sharingContainer">
    <!-- <button onclick="copyText()">share link</button> -->
      <div class="individualShare" id='{{page.title}}' onclick="copyText()">

        Share URL
      </div>

      
      <!-- <a href="https://twitter.com/share" class="twitter-share-button" url="{{site.baseurl}}/{{page.url}}?redirect=1" data-count="none" target="_blank"></a> -->
        <div class="socialcontainer clearfix">
      <div id="custom-tweet-button" class="tweetShare">
        <a href="https://twitter.com/share?url={{site.baseurl}}{{page.url}}?redirect=1&text={{site.rooturl}}{{page.url}}&via=IFPRI" target="_blank"><i class="fa fa-twitter"></i> Tweet</a>
      </div>

      <div class="fb-share-button fb-share-left" data-href="{{site.baseurl}}/{{page.url}}" data-type="button" style="margin-top: 1px;"></div>

      <!-- <div class="g-plus" data-action="share" data-annotation="none"></div> -->

        </div>

      
  
      

      <div class="panel panel-default">
        
        <div id="panel-body" class="panel-body">{{site.rooturl}}{{page.url}}</div>
      </div>
    </div>

