---
layout: blogpost
section: blog
---
<div class='listing col7 margin15 pad4h'>
{% if date != ndate %}
  <h3 id="{{item.date | date: '%B %Y'}}" class='month'></h3>
{% endif %}
<div id="{{item.title}}" class="article clearfix">
    
    <a class='item'>{{page.title }}
    </a>
    <div class='date'>
      <div class="dateText">{{page.date | date:"%B %d"}}   &#8226;</div>
          {% if page.author %}
            <div class="dateText" >&nbsp;Author: {{ page.author }}</div>
      {% endif %}
    </div>
    {% if page.tags != empty %}
          <div>
          {% for page in page.tags %}
          <a class="label label-info" href="{{page.baseurl}}/tags/{{ page }}"><i class="fa fa-tags"></i>  {{ page }}</span></a>

          {% endfor %}
          </div>
        {% endif %}

{% if page.splash or page.youtube_url %}

{% if page.splash %}
  {% if page.splash contains 'http' %}
    {% capture url %}{{page.splash}}{% endcapture %}
  {% else %}
    {% capture url %}{{site.baseurl}}{{page.splash}}/{% endcapture %}
  {% endif %}

  <div class='splash'>
    <img max-width="670px" src='{{url}}' alt='' />
  </div>
  {% else %}
            <!-- <div class='splash' href='{{site.baseurl}}{{item.url}}'>
                <img max-width="670px" src='{{site.baseurl}}/img/IFPRI.png' alt='' />
              </a>
            </div> -->
  {% endif %}
    

  {% if page.youtube_url %}
  {% capture youtubeurl %}{{page.youtube_url}}{% endcapture %}
      <div class="video-wrapper">
        <iframe width="100%" height="100%"
        src="//www.youtube.com/embed/{{youtubeurl}}"
        frameborder="0" allowfullscreen></iframe>
        
      </div>
  {% endif %}

  {% else %}
            <div class='splash' href='{{site.baseurl}}{{item.url}}'>
              <a href='{{site.baseurl}}{{item.url}}'>
                <img max-width="670px" src='{{site.baseurl}}/img/IFPRI.png' alt='' />
              </a>
            </div>
      {% endif %}

  <div id="sharingContainer">
    <!-- <button onclick="copyText()">share link</button> -->
      <div class="individualShare" id='{{page.title}}' onclick="copyText()">

        share link
      </div>
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="IFPRI" data-count="none" target="_blank"></a>
    
      <div class="g-plus" data-action="share" data-annotation="none"></div>
    
      <!-- <div class="fb-share-button" data-href="{{site.baseurl}}{{page.url}}" data-type="button"></div> -->
      <div class="fb-share-button" data-href="{{site.baseurl}}/{{page.url}}?redirect=1" data-type="button"></div>

      <div class="panel panel-default">
        <div id="panel-body" class="panel-body">
          
        </div>
      </div>
    </div>

  <div class="contentIndividualBlog">
  {{content}}
  </div>



  <div class="paginationCenter">
    <p class="pgCenter">{% if page.previous.url %} <a href="{{site.baseurl}}{{page.previous.url}}" title="Previous Post: {{page.previous.title}}"><i class="fa fa-chevron-left" style="float:left;">      Previous Post</i></i></a>  {% endif %}   {% if page.next.url %}
    <a href="{{site.baseurl}}{{page.next.url}}" title="Next Post: {{page.next.title}}" style="float:right;">Next Post      <i class="fa fa-chevron-right"></i></i></a>  {% endif %} </p>
  </div>

  <!-- <a href="{{site.baseurl}}{{ page.url }}#disqus_thread" data-disqus-identifier="{{ page.url }}"></a> -->  

  {% if page.comments %}
  <!-- This is the actual comments section -->
    <div id="disqus_thread"></div>
        <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'arabspatial'; // required: replace example with your forum shortname
          var disqus_identifier = '{{ page.url }}';
          // var disqus_url = '{{site.baseurl}}{{ page.url }}';
     
          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

    </div>

    {% endif %}


  <div class='prose'>
    <!-- {{content}} -->
  </div>
</div>
<div class='col9 margin15 pad4'>
  <a href=''></a>
</div>