---
layout: blogpost
section: blog
---

{% if page.category == 'blog' %}

<!-- Start: Blog block -->
<div id="ThisIsBlogPost"></div>

<div class="blog-header grayBackground clearfix">
  <div class="blog-title">Blog</div>
</div>

<div class="seeBlogEntries" style="float:left;margin-top:20px;margin-left:20px;"><a href="{{site.baseurl}}/fullsite">< All blog entries</a></div>





{% if date != ndate %}
  <h3 id="{{page.date | date: '%B %Y'}}" class='month'></h3>
{% endif %}
<div id="{{page.title}}" class="article clearfix">
    
    <a class='itemTitle'>{{page.title }}
    </a>
    <div class='date'>
      <div class="dateText">{{page.date | date:"%B %d"}}   &#8226;</div>
          {% if page.author %}
            <div class="dateText" >&nbsp;Author: {{ page.author }}</div>
      {% endif %}
    </div>
    
    <!--  -->

    {% if page.tags != empty %}
          <div>
          {% for page in page.tags %}
          <a class="label label-info" href="{{site.baseurl}}{{page.baseurl}}/tags/{{ page }}"><i class="fa fa-tags"></i>  {{ page }}</span></a>

          {% endfor %}
          </div>
        {% endif %}

        {% if page.splash or page.youtube_url %}

          {% if page.splash %}
          {% if page.splash contains 'http' %}
            {% capture url %}{{page.splash}}{% endcapture %}
          {% else %}
            {% capture url %}{{site.baseurl}}{{page.splash}}/{% endcapture %}
          {% endif %}

          <div class='splash clearfix'>
            <img style="max-width:630px;" src='{{url}}' alt='' />
          </div>
          {% else %}
                    <!-- <div class='splash' href='{{site.baseurl}}{{item.url}}'>
                        <img max-width="670px" src='{{site.baseurl}}/img/IFPRI.png' alt='' />
                      </a>
                    </div> -->
          {% endif %}
    

        {% if page.youtube_url %}
        {% capture youtubeurl %}{{page.youtube_url}}{% endcapture %}
            <div class="video-wrapper">
              <iframe width="100%" height="100%"
              src="//www.youtube.com/embed/{{youtubeurl}}"
              frameborder="0" allowfullscreen></iframe>
              
            </div>
        {% endif %}

  {% else %}
            <div class='splash' href='{{site.baseurl}}{{item.url}}'>
              <a href='{{site.baseurl}}{{item.url}}'>
                <img  style="max-width:630px;" src='{{site.baseurl}}/img/IFPRI.png' alt='' />
              </a>
            </div>
  {% endif %}

  {% include socialsharing.html %}

  <div class="contentIndividualBlog">
  {{content}}
  </div>

  {% include pager.html %}

  <!-- <a href="{{site.baseurl}}{{ page.url }}#disqus_thread" data-disqus-identifier="{{ page.url }}"></a> -->  

  {% if page.comments %}
  <!-- This is the actual comments section -->
    <div id="disqus_thread"></div>
        <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'arabspatial'; // required: replace example with your forum shortname
          var disqus_identifier = '{{ page.url }}';
          // var disqus_url = '{{site.baseurl}}{{ page.url }}';
     
          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

 

    {% endif %}

  <!-- End: Blog block -->


  {% else %}

  <!-- Start: Event block -->
  <div id="ThisIsAnEventPost"></div>

  <div class="blog-header grayBackground clearfix">
    <div class="blog-title">Upcoming and recent events</div>
  </div>

  <div class="seeBlogEntries" style="float:left;margin-top:20px;margin-left:20px;"><a href="{{site.baseurl}}/fullsite">< All blog entries</a></div>

  {% if date != ndate %}
  <h3 id="{{page.date | date: '%B %Y'}}" class='month'></h3>
  {% endif %}
  <div id="{{page.title}}" class="article clearfix">
    <a class='itemTitle blogClickable' title="{{ page.title }}">{{page.title }}
    </a>
    <div class='date'>
      <div class="dateText">{{page.date | date:"%B %d"}}   &#8226;</div>
          {% if page.author %}
            <div class="dateText" >&nbsp;Author: {{ page.author }}</div>
      {% endif %}
    </div>
    {% if page.eventdate %}
    <div class="eventdate">
        <!-- <div class="eventmonth">{{item.eventdate}}</div> -->
        <div class="eventday"> <b>Event Date:</b> {{page.eventdate}}</div>
    </div>
    {% endif %}
    {% if page.eventplace %}
    <div class="eventdate">
        <!-- <div class="eventmonth">{{item.eventdate}}</div> -->
        <div class="eventday"> <b>Event Place/Building:</b> {{page.eventplace}}</div>
    </div>
    {% endif %}
    {% if page.location %}
    <div class="eventdate">
        <!-- <div class="eventmonth">{{item.eventdate}}</div> -->
        <div class="eventday"> <b>Event Location:</b> {{page.location}}</div>
    </div>
    {% endif %}
    {% if page.eventtime %}
    <div class="eventdate">
        <!-- <div class="eventmonth">{{item.eventdate}}</div> -->
        <div class="eventday"> <b>Event Time:</b> {{page.eventtime}}</div>
    </div>
    {% endif %}

    

    <div class="contentIndividualBlog">
    {{content}}
    </div>

    {% include eventSocialSharing.html %}
  

  {% endif %}

<!-- End: Event block -->
  
</div>
<div class='col9 margin15 pad4'>
  <a href=''></a>
</div>