---
title: ''
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Arab Spatial News</title>

    <!-- Bootstrap core CSS -->
    <link href="{{site.baseurl}}/bootstrap.css" rel="stylesheet">

    <link href="{{site.baseurl}}/fontstyles.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="{{site.baseurl}}/blogpoststyle.css" rel="stylesheet">

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!--Gotham-Book fonts-->
    <link href="{{site.baseurl}}/fonts/GothaBolIta.css" rel="stylesheet" type="text/css" />
    <link href="{{site.baseurl}}/fonts/GothaBoo.css" rel="stylesheet" type="text/css" />
    <link href="{{site.baseurl}}/fonts/GothaBooIta.css" rel="stylesheet" type="text/css" />
    <link href="{{site.baseurl}}/fonts/GothaLig.css" rel="stylesheet" type="text/css" />
    <link href="{{site.baseurl}}/fonts/GothaLigIta.css" rel="stylesheet" type="text/css" />
    <link href="{{site.baseurl}}/fonts/GothaMedIta.css" rel="stylesheet" type="text/css" />
    <link href="{{site.baseurl}}/fonts/GothaMed.css" rel="stylesheet" type="text/css" />

    

  <body>
    <div class="col-sm-12 clearfix logoWrapper">
      <div class="logoHeader container clearfix"></div>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">

        </nav>
      </div>
    </div>

    <div class="container">



      <div class="row">

        <div class="col-md-12 blog-main">

        <div class='blogContainer clearfix'>
          <div class="blog-header">
            <h1 class="blog-title"><a href='{{site.baseurl}}/fullsite'>BLOG</a></h1>
          </div>
          <div class="sidebar-module">

                    {% include rss-link.html %}
                    
                    
                    
                    <h4>ARCHIVES <i class="fa fa-calendar"></i></h4>
                    {% for post in site.posts %}
                      {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
                      {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}
                        {% if month != nmonth %}
                          {% if forloop.index != 1 %}</ul>{% endif %}
                          <h4 class="sub-header">{{ post.date | date: '%B %Y' }}</h4><ul>
                        {% endif %}
                      <li><span class="time"></span><a href="{{site.baseurl}}{{ post.url }}">{{ post.title}}  </a>{{ post.date | date: "%d/%m" }}</li>
                    {% endfor %}



                  </div> <!-- /.blog-sidebar -->

      {{content}}

        </div><!-- /.blog-main -->

        


        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.0.js"></script>
    <script src="http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
    
    <script>
    $(".month").on("click", function () {


  });

  
  </script>
  <!-- Put this just before the closing body tag of your web page -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'arabspatial'; // required: replace example with your forum shortname
    var disqus_identifier = '{{ page.url }}';
    // var disqus_url = '{{ page.url }}';
 
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
  </script>

  </body>
</html>